{include file="../app/admin/view/header"}
<body>
<nav class="breadcrumb">
    <i class="icon icon-home"></i> 首页 <span>&gt</span>用户管理 <span>&gt;</span> 修改后台用户
</nav>
<article class="page-container">
    <form class="form form-horizontal"  method="post" id="myForm"  data-action="/admin/admin/editPassword" data-success="/admin/index/index">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>用户名称：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="{$adminInfo['name']}" placeholder=""  name="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">新密码：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" placeholder=""  name="password">
            </div>
        </div>
        <!--<div class="row cl">-->
            <!--<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>性别：</label>-->

            <!--<div class="radio-box">-->
                <!--<input type="radio" id="radio-1" name="sex" value="1" {if condition="$adminInfo['sex']==1"} checked {/if} >-->
                <!--<label for="radio-1">男</label>-->
            <!--</div>-->
            <!--<div class="radio-box">-->
                <!--<input type="radio" id="radio-2" value="2" name="sex" {if condition="$adminInfo['sex']==2"}checked {/if}>-->
                <!--<label for="radio-2">女</label>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row cl">
            <div class="col-sm-offset-2 col-sm-10">
                <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
            </div>
        </div>
    </form>
</article>

{include file="../app/admin/view/footer"}
<script>

</script>