{include file="../app/admin/view/header"}
<body>
<nav class="breadcrumb">
    <i class="icon icon-home"></i> 首页 <span>&gt;</span> 栏目管理 <span>&gt;</span> 添加栏目
</nav>
<article class="page-container">
    <form class="form form-horizontal"  method="post" id="myForm"  data-action="/admin/menu/menuAdd" data-success="/admin/menu/menuList">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>部门：</label>
            <div class="formControls col-xs-8 col-sm-3">
				<span class="select-box">
				<select name="pid" class="select">
                    <option value="0">一级栏目</option>
                    {volist name='menuList' id='vo' }
					<option value="{$vo->m_id}">{$vo->m_name}</option>
                    {/volist}
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>栏目名称：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" placeholder=""  name="m_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">栏目地址：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" placeholder="" name="url">
            </div>
        </div>

        <div class="row cl">
            <div class="col-sm-offset-2 col-sm-10">
                <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
            </div>
        </div>
    </form>
</article>

{include file="../app/admin/view/footer"}